html, body {
  background-color: #FBF3E3;
  margin: 0;
  font-family: 'Montserrat', Helvetica, sans-serif;

}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: .5px;
  margin: 0;
}

p.whitep {
  width: 70%;
  margin: 0 auto;
  margin-top: 25px;
}

p.grayp {
  width: 70%;
  margin: 0 auto;
  margin-top: 25px;
}

p.brandingp {
  width: 90%;
}

.challenge p {
  line-height: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

.describe {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: .5px;
  margin-top: 6px;
}

.mobile-img {
  display: none;
}

/* GRID */
.container, .img-container, .container p{
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 0;
  text-align: left;
}

p.processp {
  text-align: center;
  padding-top: 25px;
}

.container h2 {
  text-align: center;
  line-height: 40px;
}

.about-block h2 {
  text-align: left;
}

.container-research, .container-branding {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 0;
}

.container-index {
  width: 1200px;
}

.container:before,
.container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.img-container {
  width: 1200px;
}

.img-mag {
  width: 65%;
}


.img-container img {
  width: 100%;
}

.one-half, .one-third, .one-fourth, .one-fifth, .one-third-color {
  float:left;
  position:relative;
  min-height: 1px;
}

.one-half {
  width: 50%;
}

.one-third {
  width: 29%;
}

.one-third-color {
  width:29%
}

.one-fourth {
  width: 25%;
}

.one-fifth {
  width: 20%;
}

/* NAVBAR */

nav {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0px;
  width: 100%;
}

.container-nav {
  border-top: 2px solid #E85A4F;
}

.cs-nav {
  background-color: #FBF3E3;
  display: block;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: auto;
  top: 0;
  box-shadow: 0 5px 22px rgba(0,0,0,.4);
}

.cs-nav ul {
  padding: 20px 0;
  margin: auto;
  height: auto;
  color: #333;
  list-style-type: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  display: block;
  position: relative;
}

.cs-nav ul li {
  float: left;
  display: inline-block;
  height: auto;
  margin-left: 46px;
  text-align: right;
  float: right;
  position: relative;
}

.cs-nav ul li a{
  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
}

.logo {
  padding-top: 15px;
}

.nav-hover li a:hover {
  border-bottom: 3px solid #E85A4F;
  /*padding-bottom: 2px;*/
  transition: all 170ms;
}

#nav-logo {
  height: 20px;
  width: 23px;
  padding-top: 0;
  margin-left: 0;
  float: left;
}

#nav-logo-name {
  margin-left: 18px;
  text-align: left;
  float: left;
  font-weight: 400;
}

#nav-logo #nav-logo-name:nohover {

}

.navbar-wrapper {
  width: 100%;
  height: 83px;
  position: relative;
  display: block;
}

.navbar {
  position: relative;
  height: 65px;
}

.navbar-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar-pages {
  position: fixed;
  height: 85px;

}

.nav-holder {
  height: 83px;
  width: 100%;
  display: none;
  position: relative;
  float: left;
}

/* SUMMARY SECTION */

.cs-summary, .cs-white, .cs-gray{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  float: left;
}

.cs-gray-branding{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  padding-bottom: 5%;
  float: left;
  background-color: #E4E8E7;
}

.cs-summary-mock {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  float: left;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(45deg, #45484d 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.cs-white-flow{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  padding-bottom: 5%;
  float: left;
}

#intro-padding {
  padding-top: 40px;
}

.cs-summary h1 {
  font-size: 30px;
  font-weight: 600;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 0px;
  letter-spacing: .25px;
  padding-bottom: 14px;
}

.cs-summary h2 {
  font-size: 40px;
  font-weight: 400;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 20px;
  letter-spacing: .25px;
  padding-bottom: 50px;
}

.header-h1 {
  padding-bottom: 0;
  padding-top: 50px;
  position: fixed;
}

.header-h1 h1{
  padding-top: 10%;
}

h1.introheader {
  line-height: 32px;
  text-align: left;
  padding: 0;
  padding-bottom: 20px;
  width: 60%;
}

.img-link {
  width: 50%;
  display: block;
  margin:auto;
  padding-bottom: 40px;
}

.img-link-flyer {
  width: 100%;
  display: block;
  margin:auto;
  /*padding-bottom: 40px;*/
}
.center-text {
  color: #333;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  padding-bottom: 3px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}

.center-text h3 {
  text-transform: uppercase;
  padding-bottom: 3px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 36px;
}

.center-text p {
  width: 70%;
}

.header-text p {
  width: 50%;
  font-weight: 200;
}

.underline {
  border-bottom: 3px solid black;
}

.underline-red {
  border-bottom: 3px solid #E85A4F;
}


/*MAIN*/

main {
  top: 360px;
  position: relative;
  padding-top: 50px;
  background-color: #FBF3E3;
  float: left;
  width: 100%;
  display: block;
  z-index: 1000;
}

.contacthome :focus {
  outline: none;
}

/* PROBLEM/SOLUTION SECTION */

.cs-probsol {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  float: left;
}

.probsol-left, .process-left {
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}

.white {
  background-color: #f2f2f2;
  padding: 5% 0;
}

.probsol-right, .process-right {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.all-gray {
  background-color: #e6e6e6;
}

}

#phonemock-padding {
  width: 50%;
}

#laptop-padding {
  padding-bottom: 36px;
  width: 100%;
}

#logo-padding {
  padding-bottom: 36px;
  width: 80%;
}

#mockup-padding {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

#fwmockup-padding {
  width: 90%;
  display: block;
  margin: 0 auto;
}

#wireframe-padding {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#bg-wireframe-padding {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#flyer-wireframe-padding {
  width: 70%;
  display: block;
  margin: 0 auto;
}

#capsuleuserflow {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#capsule-personas {
  width: 80%;
  display: block;
  margin: 0 auto;
}

#bguserflow {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#bgpersona-padding {
  width: 70%;
  margin: 0 auto;
  display: block;
}

/* PROCESS SECTION */

.parallax {
    /*height: 400px;*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    box-shadow: inset 0px 0px 20px 4px rgba(0, 0, 0, 0.5);
}

.cs-white, .cs-white-flow {
  background-color: white;
}

.cs-gray {
  background-color: #E4E8E7;
}

.cs-gray-proto {
  background-color: #E4E8E7;
  padding-bottom: 35px;
}

#breakthru-process {
  background-image: url(../img/cs-breakthru-process.jpg);
  background-size: cover;
  padding-top: 22%;
  padding-bottom: 8%;
}

#magazines-process {
  background-image: url(../img/cs-mag-covers-background.jpg);
  background-size: cover;
  padding-top: 12%;
  padding-bottom: 12%;
}

.research {
  padding: 0 18px;
  box-sizing: border-box;
}

.fa-3 {
  font-size: 65px;
  color: #E85A4F;
  padding-top: 42px;
  text-align: center;
}

.process-tag {
  line-height: 0;
  font-weight: 500;
  color: #333;
  font-size: 25px;
}

h4 a {
  text-decoration: none;
}

.process-tag-link:hover {
  background-color: #E85A4F;
  border-radius: 2px;
  transition: all 300ms;
}

#research-tag {
  margin-left: 16px;
}

h4 {
  float: left;
  width: 100%;
  display: block;
  margin: 0;
  height: 30px;
  margin-top: 14px;
}

.mag-tag {
  margin-top: 6%;
  margin-bottom: 3%;
  text-align: center;
}

.mag-left, .mag-right {
  box-sizing: border-box;
  margin-top: 3%;
}

.mag-left {
  padding: 10px 10px 10px 0px;
}

.mag-right {
  padding: 10px 0px 10px 10px;
}

h5 {
  margin: 36px 0 0 0;
  font-size: 60px;
  color: #E85A4F;
  font-weight: 300;
}

.process-left, .process-right {
  text-align: left;
}

.process-left p, .process-right p {
  float: left;
  padding: 36px 0;
}

p.brand {
  padding: 0;
  float: none;
}

p.researchp {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: .5px;
  margin: 0;
  padding-top: 15px;
}

.project-link-proto p {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 12px;
}

.project-link-proto {
	background: #E85A4F;
	border-radius: 2px;
    width: 250px;
    text-align: center;
    color: white;
    cursor: pointer;
		transition: all 300ms;
    margin: 30px auto;
    padding: 20px;
}

.project-link-proto:hover {
  background: #b9483f;
}

.project-link-proto:hover p {
  color: white;
	transition: all 300ms;
}

.project-link-proto a:link {
	color: white;
	text-decoration: none;
}

.project-link-proto a:visited {
	color: white;
}

.project-link-wireframe p {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 12px;
}

.project-link-wireframe {
	background: #E85A4F;
	border-radius: 2px;
    width: 225px;
    text-align: center;
    color: white;
    cursor: pointer;
		transition: all 300ms;
    margin: 20px auto;
    padding: 15px;
}

.project-link-wireframe:hover {
  background: #b9483f;
}

.project-link-wireframe:hover p {
  color: white;
	transition: all 300ms;
}

.project-link-wireframe a:link {
	color: white;
	text-decoration: none;
}

.project-link-wireframe a:visited {
	color: white;
}

.process-mugs {
  height: 70px;
  float: left;
  display: block;
  position: relative;
  width: initial;
}

.compete-icons {
  height: 85px;
  padding-right: 15px;
  }
}

.background-img {
  background-size: cover;
  padding-top: 8%;
  padding-bottom: 8%;
}

#user-flows {
  background-image: url(assets/images/screenmockups.png);
}

#persona-padding {
  padding-bottom: 36px;
  width: 60%;
  display: block;
  margin: 0 auto;
}

#fwuserflow {
  width: 80%;
  padding-top: 25px;
  display: block;
  margin: 0 auto;
}

/*.float-box-right {
  padding: 40px;
  box-shadow: 0 0 60px rgba(0,0,0,.25);
  background-color: white;
}*/

.float-box-right p {
  padding-bottom: 0;
}

.standalone-left {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.standalone-right {
  float: right;
  width: 50%;
  box-sizing: border-box;
}

.standalone-center {
  margin: 0 auto;
  float: none;
  text-align: center;
}

.icon-grid {
  text-align: center;
  padding-bottom: 40px;
}

.color-box {
  margin: 10px;
  box-sizing: border-box;
  padding: 58px 0;
  font-weight: 400;
  color: white;
  text-align: center;
  border-radius: 2px;
}

.color-box-white {
  margin: 10px;
  box-sizing: border-box;
  padding: 58px 0;
  font-weight: 400;
  color: #333;
  text-align: center;
  border-radius: 2px;
}

#logo-space {
  padding-bottom: 30px;
}

.fixed-mockup {
  height: auto;
  box-sizing: border-box;
}

#fixed-mockup-small {
  height: 810px;
}

#mockups {
  position: absolute;
  left: 0;
  top: 566px;
  display: block;
}

.bottom-pic {
  float: left;
  margin: 0 auto;
  line-height: 0;
}

.three-col {
  float: left;
  padding-top: 40px;
}

.three-col p {
  width: 29%;
  margin: 0 20px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

h2 {
  font-size: 60px;
  font-weight: 500;
  padding-bottom: 20px;
}

.nav-hover p {
  font-size: .7em;
  float: right;
}

.footer-text p {
  padding-bottom: 5%;
  text-align: center;
  font-weight: 400;
}

.footer-nav {
  position: relative;
}

.container-footer {
  border-top: 2px solid #E85A4F;
  display: block;
}

.container-footer ul li {
  margin-left: 26px;
  font-size: 16px;
  padding-top: 13px;
}

.bottom-footer {
  float: left;
  width: 100%;
  padding-top: 65px;
}

.work-grid h2 {
  float: left;
  width: 100%;
  padding-top: 75px;
}

.footer-pics {
  float: left;
  width: 100%;
}

.footer-item, .home-item {
  width: 33.3333%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.footer-hover {
  box-sizing: border-box;
  padding: 30px;
  height: 100%;
  background-color: rgba(232,90,79,.9);
  color: white;
  opacity: 0;
  transition: all 300ms;
}

.footer-hover:hover {
  opacity: 1;
}

h6 {
  margin: 0 0 6px 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.footer-button {
  padding: 0;
  margin-top: 7%;
}

.footer-button li {
  padding: 16px;
  border: 1px solid white;
  text-align: center;
  display: inline-block;
  margin: 0 10px 10px 0;
  height: auto;
  color: #dbdbd5;
  list-style-type: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all 300ms;
  border-radius: 2px;
}

.footer-button li:hover {
  background-color: white;
  color: black;
}

.no-b-padding {
  padding-bottom: 0;
}

.no-b-padding p {
  padding-bottom: 0;
}

.shadow-big {
  -webkit-filter: drop-shadow(0 10px 7px rgba(0,0,0,.15));
  filter: drop-shadow(0 6px 7px rgba(0,0,0,.15));
}

.shadow-small {
  -webkit-filter: drop-shadow(0 3px 4px rgba(0,0,0,.19));
  filter: drop-shadow(0 3px 4px rgba(0,0,0,.19));
}

.index-footer-homepage {
  top: 300px;
}

#capsule-pic {
  background-image: url(../images/Capsule.png);
}

#flyerwine-pic {
  background-image: url(../images/flyer-wine.png);
}

#bargo-pic {
  background-image: url(../images/BG2.png);
}


/* CONTACT */

.contact h1 {
  color: white;
  font-weight: 700;
  font-size: 33px;
  text-align: left;
  margin-bottom: 0;
  line-height: 40px;
}

.contact ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.contact ul li{
  display: block;
  float: left;
  margin-right: 30px;
}

.contact ul li a{
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.contact-links {
  width: 100%;
  float: left;
  padding: 30px 0;
  border-bottom: 2px solid #333333;
  border-top: 2px solid #333333;
  margin: 46px 0;
}

.contact-hover a:hover{
  color: #E85A4F;
}

#email a{
  color: #E85A4F;
}

#email a:hover{
  color: #E85A4F;
}

.contact h2 {
  text-align: left;
  font-size: 26px;
  font-weight: 700;
  color: #e0be4f;
  float: left;
  padding-bottom: 12px;
  border-bottom: 2px solid #333333;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 20px;
  line-height: initial;
}

.mobile-h2 {
  display: none;
}

.margin-right {
  margin-right: 4%;
}

.margin-top {
  margin-top: 180px;
}

.full-width {
  width: 100%;
}

.dark-text {
  color: #8e8d8d
}

.email-link a {
  text-decoration: none;
  color: #e0be4f;
  font-weight: 700;
}

  .margin-top {
    margin-top: 116px;
  }
  .contact h1 {
    font-size: 20px;
    line-height: 28px;
  }
  .contact h2 {
    font-size: 22px;
  }
  .mobile-h2 {
    display: block;
  }
}


.mobile-button {
  display: none;
}

.mobile-label {
  display: none;
  top: 253px;
  position: absolute;
  box-sizing: border-box;
  padding: 10px 15px;
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.mobile-label p {
  font-size: 12px;
  letter-spacing: 2.25px;
  font-weight: 700;
}

/* Contact & Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.contacthome {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.contacthome h1 {
  font-size: 30px;
  font-weight: 400;
  color: #333;
}

.contacthome h3{
  font-weight: 500;
  color: #333;
  font-size: 2.5em;
}

.contacthome h5{
  color: #8e8d8a;
  font-size: 1.3em;
  font-weight: 100;
  margin-top: -20px;
}

h5.aboutmecontact {
  font-size: 20px;
}

.contacthome li {
  display: inline;
  padding-right: 10px;
}

.contacthome li i {
  position:relative;
  vertical-align: middle;
  color: #333;
  display: inline-block;
  height: 80px;
  width: 55px;
  line-height: 90px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  margin-right: 35px;
  cursor: pointer;
  border: 3px solid #333;
  -webkit-transition:0.7s;
  font-size: 3em;
  border-radius: 2px;
}

.contacthome li i:hover {
  border: 3px solid rgba(232,90,79,1);
  color: #E85A4F;
}

.contacthome ul {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 35px;
  }

  /* Hamburger Navigation
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .hamburger{
    background:none;
    position:fixed;
    top:0;
    right:5px;
    line-height:21px;
    padding:8px 45px 0px 15px;
    color:#E85A4F;
    border:0;
    font-size:1.3em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .cross{
    background:none;
    position:fixed;
    top:0px;
    right:5px;
    padding:5px 45px 0px 15px;
    color:#8E8D8A;
    border:0;
    font-size:3.1em;
    /*line-height:53px;*/
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }

  @media all and (max-width: 4000px) {
    #capsule-wireframe-mobile {display: none;}
    #bgwireframemobile {display: none;}
    #fwmockupmobile {display: none;}
    #capsuleuserflowmobile {display: none;}
    #capsulepersona1 {display: none;}
    #capsulepersona2 {display: none;}
    #capsulepersona3 {display: none;}
    #bguserflowmobile {display: none;}
    #bgpersona1 {display: none;}
    #bgpersona2{display: none;}
    #bgpersona3 {display: none;}
    #wine1 {display: none;}
    #wine2 {display: none;}
    #wine3 {display: none;}
    #fwuserflowmobile {display: none;}
  }

@media (min-width:2560px) {
  #wireframe-padding{
    width: 50%
  }
}
  @media(max-width: 1250px) {
    .container-index {
      width: 1030px;
    }
  }

  @media (max-width: 1030px) {
    .container, .img-container {
      width: 85%;
    }
    .one-third-color {
      width: 28%;
    }
    .fixed-mockup {
      height: auto;
    }
    .color-box, .color-box-white {
      padding: 55px 0;
    }
    .three-col p {
      width: 28%;
    }
  }

  @media(max-width: 1024px) {
    .container-index {
      top: 0;
    }
    .navbar, .navbar-pages {
      position: fixed;
    }
    .container-nav {
      top: 0;
    }
    nav, .navbar-wrapper {
      top: 0;
      float: left;
      position: fixed;
    }
    .header-h1 {
      padding-top: 120px;
    }

    .cs-summary h1 {
      padding-bottom: 14px;
      padding-top: 0px;
    }

    h1.introheader {
      line-height: 30px;
      text-align: left;
      padding: 0;
      padding-bottom: 20px;
      width: 70%;
    }
    .top-dek {
      padding-bottom: 18px !important;
    }

    .work-grid {
      top: 0;
    }
    .footer-item {
      background-position: center;
    }
    .footer-hover {
      /*padding: 35px;*/
      display: none;
    }
    #fixed-mockup-small {
      height: 740px;
    }
    .mobile-button {
      display: block;
      height: 300px;
    }
    .mobile-label {
      display: block;
    }
    .container h2 {
      padding-top: 25px;
    }
  }

  @media (max-width: 1000px) {
    .img-container {
      width: 700px;
    }
    .one-third, .one-fourth {
      width: 100%;
    }
    nav {
      top: 490px;
    }

    .research {
      padding: 0;
    }
    #research-tag {
      margin-left: 0;
    }
    .probsol-left, .process-left, .probsol-right, .process-right {
      width: 85%;
      padding: 0;
      float: none;
      margin: 0 auto;
    }

    .gray, .white {
      width: 100%;
      padding: 10% 0;
    }
    .float-box-right {
      float: right;
      width: 65%;
    }
    .standalone-center {
      width: 100%;
      padding-top: 50px;
    }
    .standalone-left, .standalone-right {
      width: 100%;
    }
    .color-box {
      padding: 23px;
      width: 30%;
    }
    .color-grid {
      margin-left: -10px;
      margin-bottom: -10px;
      width: 100%
    }
    .icon-grid {
      float: left;
      margin-left: -10px;
      margin-bottom: -10px;
      width: 110%
    }
    .fixed-mockup {
      height: auto;
    }
    .fixed-mockup p {
      padding-bottom: 0;
    }
    #mockups {
      top: 944px;
    }
    #fixed-mockup-small {
      height: 640px;
    }

    .color-box, .color-box-white {
      padding: 15px; o;
    }
    .footer-text p {
    width: 85%
    }
    .three-col p {
      width: 100%;
      margin: 0;
      padding-bottom: 30px;
      text-align: left;
    }
    .margin-right{
      margin-right: 0;
    }
  }

  @media (max-width: 999px) {
    .color-box, .color-box-white {
      padding: 15px 0;
      width: 42.6%;
      border-radius: 2px;
    }

    .icon-grid {
      float: left;
      margin-left: -10px;
      margin-bottom: -10px;
    }
  }

  @media(max-width: 960px) {
    main {
      top: 425px;
    }
  }

  @media(max-width: 900px) {
    .home-item {
      width: 50%;
    }
  }

  @media(max-width: 800px) {
    nav {
      top: 520px;
    }
  }

@media(min-width: 769px) {
  .hamburger {display:none;}
  .cross {display:none;}
  .menu {display: none;}
}

  @media(max-width: 768px) {
    #fixed-mockup-small {
      height: 640px;
    }
    .hamburger {right:15px;}
    .nav-hover p {
      font-size: .5em;
    }
    h1.introheader {
      width: 100%
    }
    main {
      top: 300px;
    }
    .cs-summary h1 {
      font-size: 29px;
    }
    .container h2 {
      padding-top: 0px;
    }
    .cs-nav ul li a{
        display: none;
      }
    header nav ul li a {display:none;}
    .smallname {display: none;}
    .smallnamefooter {display: none;}
    #wireframe-padding {display: none;}
    #capsule-wireframe-mobile {display: block; width: 100%; margin: 0 auto;padding: 25px;}
    .header-text p {
      width: 90%;
    }
  }

  @media(max-width: 760px) {
    #nav-logo-name {
      display: none;
    }
    /*#mobile-logo {
      width: 33px;
    }*/
    .nav-hover {
      float: right;
      /*width: 230px;*/
      display: block;
    }
    #nav-logo {
      width: 33px;
    }
    .header-h1 {
      position: relative;
      display: block;
    }
    main {
      top: 0;
    }
    #footer-mobile-logo {
      width: 33px;
    }
    h2 {
      font-size: 2.5rem;
      padding-top: 10px;
      padding-bottom: 30px;
    }
    .footer-text p {
      width: 100%;
      padding-bottom: 10%;
    }
    .footer-item {
      width: 100%;
    }
    .container-footer {
      top: 0;
    }
    .index-footer {
      top: 0;
    }
    .contact ul li {
      float: none;
      margin-bottom: 15px;
    }
    .contacthome h5 {
      font-size: 19px;
    }
  }

  @media(max-width: 700px) {
    p {
      font-size: 16px;
      line-height: 27px;
      padding-bottom: 5px;
    }
    .mobile-img {
      display: block;
      float: left;
      width: 100%;
    }
    .container {
      width: 85%;
    }
    .img-container {
      width: 100%;
    }
    .cs-summary h1 {
      font-size: 30px;
      padding-bottom: 30px;
      line-height: 2.4rem;
      text-align: left;
    }

    .center-text p {
      text-align: left;
    }
    .top-dek {
      padding-bottom: 4px !important;
    }
    h3 {
      font-size: 16px;
    }
    .mag-tag {
      margin-top: 10%;
    }

    .mag-left, .mag-right {
      width: 100%;
      padding: 0 0 10px 0;
    }

    h5 {
      font-size: 3rem;
    }
    #user-flows, #inspiration{
      padding: 0;
      background-image: none;
    }
    #inspiration, #inspiration.float-box-right {
      background-color: #f2f2f2;
    }
    .float-box-right {
      float: left;
      width: 100%;
      box-shadow: none;
      padding: 10% 0;
    }
    #mobile-gray {
      background-color: #f2f2f2;
    }
    #fixed-mockup-small {
      height: auto;
    }
    #mockups {
      display: none;
    }
  }

  @media (max-width: 597px) {
    .border ul li {
      display: block;
    }
  }

  @media(max-width: 500px) {
    nav {
      top: 550px;
    }
  }

  @media all and (max-width: 499px) {
      #bg-wireframe-padding {display: none;}
      #bgwireframemobile {display: block; width: 100%; margin: 0 auto;padding-top: 25px;}
      #flyer-wireframe-padding {display: none;}
      #fwmockupmobile {display: block; width: 100%; margin: 0 auto;padding-top: 25px;}
      #capsuleuserflow {display: none;}
      #capsuleuserflowmobile {display: block; width: 100%; margin: 0 auto;}
      #capsule-personas {display: none;}
      #capsulepersona1 {display: block; width: 54%; margin: 0 auto;}
      #capsulepersona2 {display: block; width: 54%; margin: 0 auto;}
      #capsulepersona3 {display: block; width: 54%; margin: 0 auto;}
      #bguserflow {display: none;}
      #bguserflowmobile {display: block; width: 100%; margin: 0 auto;}
      #bgpersona-padding {display: none;}
      #bgpersona1 {display: block; width: 67%; margin: 0 auto;}
      #bgpersona2 {display: block; width: 67%; margin: 0 auto;}
      #bgpersona3 {display: block; width: 67%; margin: 0 auto;}
      #persona-padding {display: none;}
      #wine1 {display: block; width: 54%; margin: 0 auto;}
      #wine2 {display: block; width: 54%; margin: 0 auto;}
      #wine3 {display: block; width: 54%; margin: 0 auto;}
      #fwuserflow {display: none;}
      #fwuserflowmobile {display: block; width: 100%; margin: 0 auto;}
  }

  @media(max-width: 420px) {
  .contacthome h1 {
    font-size: 45px;
    }
  }

  @media (max-width: 414px) {
    #fixed-mockup-small {
      height: 610px;
    }
    main {
      top: 35px;
    }
    .color-grid {
      display: block;
      margin: 0 auto;
    }
    .hamburger {right:-12px;}
    .index-footer-homepage {
      top: 30px;
    }
    .header-text p {
      width: 100%;
    }
  }

  @media(max-width: 400px) {
    #footer-nav-logos {
      width: 218px;
      height: 30px;
    }
  }

  @media(max-width: 380px) {
  .contacthome h1 {
    font-size: 30px;
    }
    .contacthome h5 {
      font-size: 14px;
    }
  }

  @media (max-width: 375px) {

    main {
      top: 45px;
    }
     .nav-hover p {
       font-size: .44em;
     }

     .container-research h4 {
       font-size: 26px;
     }

     .process-left h4, .process-right h4, {
       font-size: 26px;
     }

     .center-text h3 {
       font-size: 28px;
     }

     .project-link-proto {
       background: #E85A4F;
       border-radius: 2px;
          width: 225px;
          text-align: center;
          color: white;
          cursor: pointer;
         transition: all 300ms;
          margin: 20px auto;
          padding: 10px;
     }

     .project-link-proto p {
       color: #fff;
       font-size: 18px;
       font-weight: 400;
       text-transform: uppercase;
       line-height: 16px;
     }

     .color-grid {
       display: block;
       margin: 0 auto;
     }

     .compete-icons {
       padding-bottom: 10px;
       margin-left: auto;
       margin-right: auto;
     }
     #fixed-mockup-small {
       height: 580px;
     }

     #fwmockup-padding {
       width: 80%;
       display: block;
       margin: 0 auto;
     }
     .hamburger {right:-16px;}
  }

.color-grid {
  display: block;
  margin: 0 auto;
}

.icon-grid {
  padding-bottom: 30px;
}

.one-fourth p {
  width: 100%;
}


   }


  .menu{z-index:1000000; font-weight:bold; width:100%; background:#fff;  position:fixed; text-align:center; font-size:20px;}
  .menu ul {margin-bottom: 0; list-style-type: none; list-style-image: none;}
  .menu li {display: block; padding:15px 0 15px 0; }
  .menu li:hover{display: block; background:#ffffff; }
  .menu ul li a {text-decoration:none; color:#666;}
  .menu ul li a:hover {color: #666; text-decoration:none;}
  .menu a{text-decoration:none; color:#666;}
  .menu a:hover{text-decoration:none; color:#E85A4F;}
